<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\Fastdo.backendsys.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: ebc0a1d0-31cb-40bc-8a94-78ba38f58297-->